<div class="container">
    <!-- Formulario reactivo -->
    <form [formGroup]="formSubir" (submit)="crearArticulo()">
      <div class="form-section-container">
        <h3>Vende un articulo</h3>
        <div class="inputbox">
          <input type="text" required="required" formControlName="nombre">
          <span>Nombre del articulo</span>
          <i></i>
        </div>
        <div class="inputbox">
          <input type="text" required="required" formControlName="descripcion">
          <span>Descripcion del articulo</span>
          <i></i>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Imagen del articulo</label>
          <input class="form-control" type="file" id="formFile" (change)="onFileChange($event)" formControlName="imagen"
            accept="image/png, image/jpeg, image/webp">
        </div>
        <!--Visualizador de imagen-->
        <img *ngIf="imagenUrl" class="img-fluid img-thumbnail img" src="{{imagenUrl}}">
        <!---->
        <div class="inputbox">
          <input type="number" required="required" formControlName="precio" step="0.01" min="0.01">
          <span>Precio del articulo</span>
          <i></i>
        </div>
        <!-- Boton de ingresar -->
        <button [hidden]="formSubir.invalid">
          <span></span>
          <span></span>
          <span></span>
          <span></span> Crear articulo
        </button>
      </div>
      <br>
      <div *ngIf="banderaError" class="alert alert-danger" role="alert">
        {{mensaje}}
      </div>
      <div *ngIf="banderaAcierto" class="alert alert-success" role="alert">
        {{mensaje}}
      </div>
    </form>
  </div>
  