<div class="container">
    <h3>Crea un Contacto</h3>
    <div class="form-container">

        <form [formGroup]="formSubir" (submit)="crearContacto()">
            <div class="form-section-container">

                <div class="inputbox">
                    <input type="text" required="required" formControlName="tipo">
                    <span>Tipo de contacto</span>
                    <i></i>
                </div>

                <div class="inputbox">
                    <input type="text" required="required" formControlName="contenido">
                    <span>Contenido</span>
                    <i></i>
                </div>

                <!-- Boton de ingresar -->
                <button [hidden]="formSubir.invalid">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> Crear Contacto
                </button>
            </div>
            <br>
            <div *ngIf="banderaError" class="alert alert-danger" role="alert">
                {{mensaje}}
            </div>
            <div *ngIf="banderaAcierto" class="alert alert-success" role="alert">
                {{mensaje}}
            </div>
        </form>
    </div>
    <h3>Tus Contactos</h3>
    <div class="tags-container">
        <app-contacto-card *ngFor="let tag of tags" [contacto]="tag" (event)="mostrarContactos()"></app-contacto-card>
    </div>
</div>