<div class="contenedor">
  <div class="imagen">
    <img [src]="pathimg" alt="">
  </div>

  <div class="info">

    <div class="info-container">
      <p class="title">
        {{producto.nombre}}
      </p>

      <p class="precio">
        Precio: ☘️ {{producto.precio}}
      </p>

      <p class="des">
        Descripción: {{producto.descripcion}}
      </p>

      <div>
        Tags
        <div class="tags-container">
          <div class="tag" *ngFor="let tag of tags">
            {{tag}}
          </div>
        </div>
      </div>

      <button class="buy-button" *ngIf="usuarioRegistrado">Comprar</button>
      <button class="report" *ngIf="usuarioRegistrado" data-bs-toggle="modal" data-bs-target="#exampleModal"
        data-bs-whatever="@mdo">Reportar publicacion</button>
      <button class="login" *ngIf="!usuarioRegistrado">Inicia sesion</button>
    </div>
  </div>
  <div class="info">
    <div class="info-container">


      <p class="title">
        Vendedor {{usuarioVendedor.nombre}}
      </p>
      <div class="contactos" *ngIf="producto.mostrar_contacto">
        contactos
      </div>
      <button class="chat-button" *ngIf="usuarioRegistrado">Chatear con el vendedor</button>
    </div>
  </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Explicanos un poco mas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="mb-3">
            <form action="
            ">
              <label for="message-text" class="col-form-label">Motivo del reporte:</label>
              <textarea class="form-control" id="message-text" [(ngModel)]="mensajeReporte"  name="mensajeReporte"></textarea>
            </form>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="mandarReporte()">Enviar reporte</button>
      </div>
    </div>
  </div>
</div>