.imagen img {
    max-width: 500px;
    min-width: 300px;
}

.tags-container {
    width: 100%;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.tag {
    padding: 10px 20px;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
}


.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.title {
    font-weight: bold;
    font-size: xx-large;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    border-style: solid;
}

.info-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f6f6f6;
}

.contenedor {
    min-height: 80vh;
    min-width: 100%;
    display: flex;
    gap: 20px;

    justify-content: center;
}



.buy-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.report {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}


.chat-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}


.card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: 210px;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
  }
  
  .card > * + * {
    margin-top: 1.1em;
  }
  
  .card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
  }
  
  .card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
  }
  
  
  
  /* hover */
  .card:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
