<div class="container">
    <h3>Crea un Tag</h3>
    <div class="form-container">

        <form [formGroup]="formSubir" (submit)="crearTag()">
            <div class="form-section-container">

                <div class="inputbox">
                    <input type="text" required="required" formControlName="nombreTag">
                    <span>Nombre del tag</span>
                    <i></i>
                </div>
                <!-- Boton de ingresar -->
                <button [hidden]="formSubir.invalid">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> Crear Tag
                </button>
            </div>
            <br>
            <div *ngIf="banderaError" class="alert alert-danger" role="alert">
                {{mensaje}}
            </div>
            <div *ngIf="banderaAcierto" class="alert alert-success" role="alert">
                {{mensaje}}
            </div>
        </form>
    </div>
    <h3>Tus Tags</h3>
    <div class="tags-container">
        <app-tag-eliminar *ngFor="let tag of tags" [tag]="tag" (event)="mostrarTags()"></app-tag-eliminar>
    </div>
</div>