<div class="container">
    <h3>
        Solicitudes de aprobación
    </h3>
    <div class="cards-contianer">
        <app-producto-card-aprovacion *ngFor="let producto of solicitudes" [producto]="producto"
         (eventAceptar)="aceptarPublicacion($event)"
        (eventRechazar)="rechazarPublicacion($event)">
        </app-producto-card-aprovacion>
    </div>

    <h3>
        Publicaciones reportadas
    </h3>
    <div class="cards-contianer">
        <app-producto-card-reportada *ngFor="let reporte of reportes" [producto]="reporte" 
        (eliminarReportesEvent)="eliminarReportes($event)">
        </app-producto-card-reportada>
    </div>

</div>