<div class="contenedor">

    <div class="info">

        <div class="info-container">
            <p class="title">
                {{producto.nombre}}
            </p>

            <p class="precio">
                Premio: ☘️ {{producto.precio}}
            </p>

            <p class="des">
                Descripción: {{producto.descripcion}}
            </p>
            <button class="buy-button" (click)="participar()">Participar</button>
        </div>
    </div>
    <div class="info">
        <div class="info-container">
            <p class="title">
                Publicado por {{usuarioVendedor.nombre}}
            </p>
            <div class="contactos" *ngIf="mostrarContactos">
                contactos
                <div class="tags-container">
                    <div class="tag" *ngFor="let contacto of contactos">
                        {{contacto.nombre}}
                        <br>
                        {{contacto.contenido}}
                    </div>
                </div>
            </div>
            <button class="chat-button" (click)="chatear()">Chatear con el vendedor</button>
        </div>
    </div>
</div>