<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BazarTIKAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <img src="../../../assets/user.png">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{nombreUsuario}}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item box">
                        <a [routerLink]="['tus_prductos']" class="nav-link active" aria-current="page">
                            <img src="../../../assets/product-management.png">
                            Tus productos
                        </a>
                    </li>
                    <li class="nav-item box">
                        <a [routerLink]="['crear_producto']" class="nav-link active" aria-current="page">
                            <img src="../../../assets/new-product.png">
                            Nuevo producto
                        </a>
                    </li>
                    <li class="nav-item box">
                        <a [routerLink]="['treboles']" class="nav-link active" aria-current="page">
                            <img src="../../../assets/clover.png">
                            Compra Treboles ☘️
                        </a>
                    </li>
                    <li class="nav-item box">
                        <a [routerLink]="['tags']" class="nav-link active" aria-current="page">
                            <img src="../../../assets/tag.png">
                            Tags
                        </a>
                    </li>
                    <li class="nav-item box">
                        <a [routerLink]="['crear_compra']" class="nav-link active" aria-current="page">
                            <img src="../../../assets/sale.png">
                            Crea una compra
                        </a>
                    </li>
                    <li class="nav-item box">
                        <a  [routerLink]="['/crear-usuario']" class="nav-link active" aria-current="page">
                            <img src="../../../assets/chat.png">
                            Chat
                        </a>
                    </li>
                    <li class="nav-item box">
                        <a [routerLink]="['/crear-usuario']" class="nav-link active" aria-current="page">
                            <img src="../../../assets/client.png">
                            Compradores
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>