<div class="container">
    <div class="form-tags-container">
        <!-- Formulario reactivo -->
        <form [formGroup]="formSubir" (submit)="crearVol()">
            <div class="form-section-container">
                <h3>Crea un voluntariado</h3>
                <div class="inputbox">
                    <input type="text" required="required" formControlName="nombre">
                    <span>Nombre del articulo que buscas</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" required="required" formControlName="descripcion">
                    <span>Describe el articulo que buscas</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="number" required="required" formControlName="premio">
                    <span>Premio</span>
                    <i></i>
                </div>
                <p>
                    ¿Deseas mostrar tus contactos en la publicacion?
                </p>
                <label class="switch">
                    <input type="checkbox" formControlName="mostrar_contacto">
                    <span class="slider"></span>
                </label>

                <!-- Boton de ingresar -->
                <button [hidden]="formSubir.invalid">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> Crear voluntariado
                </button>
            </div>
            <br>
            <div *ngIf="banderaError" class="alert alert-danger" role="alert">
                {{mensaje}}
            </div>
            <div *ngIf="banderaAcierto" class="alert alert-success" role="alert">
                {{mensaje}}
            </div>
        </form>
    </div>
</div>