<div class="card">
    <div class="card-img">
        <img [src]="pathimg" alt="" class="img">
    </div>
    <div class="card-title">{{producto.nombre}}</div>
    <div class="card-footer">
        <p>
            Precio:
        </p>
        <div class="card-price"><span>☘️</span> {{producto.precio}}</div>
        <p>
            Vendido en:
        </p>
        <div class="card-price"><span>☘️</span> {{producto.precio}}</div>
        <p>
            Fecha de venta:
        </p>
        <div class="card-price"><span>☘️</span> {{producto.precio}}</div>
    </div>
</div>